<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/output.css">
    <title>Личный кабинет</title>
</head>
<body>
    <div>
        <div class="text-center text-red-500">
            <h2 class="text-4xl">Ваш личный кабинет</h2>
            <h4 class="text-xl mt-5">Логин аккаунта: {{ .Username}}</h4>   
            <form action="chat" method="post">
                <input type="submit" value="Chat" class="border-2 border-red-500 text-white px-10 py-3 rounded-2xl mt-5">
            </form>
            <form action="log_out" method="post">
                <input type="submit" value="Log Out" class="border-2 border-red-500 px-10 py-3 rounded-2xl mt-5">
            </form>
        </div>
    </div>
</body>
</html>